* {
  margin: 0;
  padding: 0;
}

h1,
div,
button {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2em;
  padding: 20px;
}
p {
  text-align: center;
}
ul {
  text-align: center;
}

.container {
  width: 70%;
  height: 400px;
  background-color: beige;
  margin-left: auto;
  margin-right: auto;
}

.guess-div {
  width: 30%;
  height: 100px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

p {
  text-align: center;
  padding-top: 20px;
  font-size: 1.5em;
}

input {
  width: 300px;
  margin: 10px;
  padding: 5px;
}

#getBttn {
  width: 70px;
  padding: 10px 10px;
  text-align: center;
  background-color: teal;
  color: aliceblue;
  align-self: center;
}
